<div class="row gutter-0 part1">
    <div class="header">
        <span class="headerText">
        whatsapp stalker
        </span>
    </div>
  <div class="myForm">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="notify" required placeholder="Enter the notification number..." ngModel>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="stalk" required placeholder="Enter the number to stalk..." ngModel>
      </div>
      <button type="submit" class="btn">Monitor</button>
    </form>
  </div>
</div>
<div class="row gutter-0 part2">
</div>
<div class="row gutter-0 part3">
  <div class="container">
  </div>
</div>
