<div class="row gutter-0 part1">
  <div class="header">
    <span class="headerText">
        whatsapp stalker
        </span>
  </div>
  <div class="myForm">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="notify" [(ngModel)]="notify" required placeholder="enter the notification number..."
          title="your number">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="stalk" [(ngModel)]="stalk" required placeholder="enter the number to stalk..."
          title="number to stalk">
      </div>

      <div class="container-fluid">
        <div class="col-xs-10 checkboxOption">
            online/offline
        </div>
        <div class="col-xs-2 pull-right check1">
          <div class="pretty p-switch p-fill">
            <input type="checkbox"/>
            <div class="state" (clickOutside)="check1 = !check1" [exclude]="'button, .check2, .check3, .check4'">
                <label></label>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-xs-10 checkboxOption">
            status change
        </div>
        <div class="col-xs-2 pull-right check2">
          <div class="pretty p-switch p-fill">
            <input type="checkbox" />
            <div class="state"  (clickOutside)="check2 = !check2" [exclude]="'button, .check1, .check3, .check4'">
                <label></label>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-xs-10 checkboxOption">
            profile pic change
        </div>
        <div class="col-xs-2 pull-right check3">
          <div class="pretty p-switch p-fill">
            <input type="checkbox" />
            <div class="state"  (clickOutside)="check3 = !check3" [exclude]="'button, .check1, .check2, .check4'">
                <label></label>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-xs-10 checkboxOption">
            last hour activity
        </div>
        <div class="col-xs-2 pull-right check4">
          <div class="pretty p-switch p-fill">
            <input type="checkbox"/>
            <div class="state"  (clickOutside)="check4 = !check4" [exclude]="'button, .check1, .check2, .check3'">
                <label></label>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn monitorBtn" (click)="monitor(notify, stalk)">monitor</button>
    </form>
  </div>
</div>
<div class="row gutter-0 part2">
  <div class="container info">
    info
  </div>
</div>
<div class="row gutter-0 part3">
  <div class="container">
  </div>
</div>
